**/__pycache__/**
*.ipynb
**/.ipynb_checkpoints/**
*.npy
*.npz
**/.vscode/**
**/grasp_label*/**
**/log*/**
**/dump*/**
**/build/**
*.o
*.so
*.egg
**/*.egg-info/**
logs
dataset/tolerance
.cache/
checkpoints/
dataset/tolerance.tar
demo_oak.py
doc/my_data/
graspnetAPI/
main.py
oak/
